@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #012840;
    text-align: justify;
}

nav {
    color: white;
    background-color: #012840;
    width: 100vw;
    height: 18vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.532);
}

nav > img {
    height: 75%;
}

nav > h1 {
    margin: 0px 10px;
    text-align: justify;
}

nav > h1 > a {
    text-decoration: none;
    font-style: none;
    color: white;
}

nav > h1 > a:hover {
    color: rgb(192, 192, 192);
    transition: .3s ease;
}

nav > ul {
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 25%;
}

nav > ul > li {
    display: inline-block;
    margin: 10px;
}

nav > ul > li > a {
    text-decoration: none;
    font-style: none;
    color: white;
}

nav > ul > li > a:hover {
    color: rgb(192, 192, 192);
    transition: .3s ease;
}


nav > input {
    margin-left: 40px;
    width: 230px;
    height: 30px;
    border-radius: 8px;
    box-shadow: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#h1defora {
    width: 75vw;
    margin: 50px auto;
    font-size: 2.2em;
}

.h2defora {
    width: 75vw;
    margin: 50px auto;
    font-size: 1.8em;
}

.pdefora {
    width: 75vw;
    margin: 50px auto;
    text-align: justify;
    font-size: 1.2em;
}

img.defora {
    width: 75vw;
    margin: 50px auto;
    display: block;
    border-radius: 30px;
}

footer {
    background-color: #012840;
    height: 200px;
    color: white;
}

footer > h1{
    text-align: center;
    padding: 50px;
}

footer > a {
    color: white;
    text-decoration: none;
    font-style: none;
    font-size: 1.2em;
    text-align: center;
    width: 200px;
    margin: auto;
    display: block;
}

footer > a:hover {
    color: grey;
    transition: .3s ease;
}